<div id="fh5co-services" data-section="services" >
  {{ with .Site.Params.services }}
  {{ if .video }}
  <div class="fh5co-video"><a href="{{ with .vidlink }}{{ . }}{{ end }}" class="popup-vimeo"><i class="icon-play2"></i></a> <span>Watch video</span></div>
  {{ end }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title | markdownify }}</h2>
    </div>
    
    <div id="fh5co-gallery">
      {{ range .item }}
      <a href="{{ .img | absURL }}" class="fh5co-item image-popup" style="background-image: url({{ .img | absURL }})">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-copy">
          <div class="fh5co-copy-inner">
      <h2>{{ .title | markdownify }}</h2>
      {{ if isset . "subtitle" }}
      <h3>{{ .subtitle | markdownify }}</h3>
      {{ end }}
          </div>
        </div>
      </a>
      {{ end }}
    </div> <!-- END fh5co-gallery -->

  </div>
  {{ end }}
</div> <!-- END fh5co-services -->
